[submodule "vim/pack/mypack/start/ale"]
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/mypack/start/html5.vim"]
	url = https://github.com/othree/html5.vim.git
[submodule "vim/pack/mypack/start/vim-javascript"]
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/mypack/start/YouCompleteMe"]
	path = vim/pack/mypack/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
